*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');
    font-family: 'Kanit', sans-serif;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0081FF ;
    font-family: 'Kanit', sans-serif;
    
}

#navbar img{
    margin: 1vh;
    height: 5vh;
}
.navbar-itens a{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 20px;
}

body{
    
    background-image: url('../img/Ativo\ 114.png');
    background-size: 100%;
} 
.azul{
    color: #0081FF;
}
#section1{
    padding-top: 5vh;
    border-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}
#tg-logo{
   height: 30vh;
}
#body-txt{
    font-size: 55px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
#body-txt h1{
    font-size: 43px;
    margin-bottom: 1vh;
}

#servicos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url(../img/fundo-servicos.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vh;
    margin: 2vh 0 2vh 0;
}

.img-servicos{
    height: 35vh;
    width: 100%;
}

.container p {
    width: 30vh;
}

.container{
    background-color: aliceblue;
    padding: 2vh;
    border-radius: 5px;
}
.solucoes-container{
    max-width: 90%;
}


.box{
    height: 1vh;
    width: 20vh;
    background-color: #0081FF;
    margin: 1vh 0 1vh 0;
    border-radius: 2px;
}

#quemSomos{
    background: url(../img/quemsomos-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh;
    font-weight: bold;
}

.qs-container{
    width: 35%;
    height: 100%;
}

.valores-container{
    width: 35%;
    height: 100%;
}

.antes-depois{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
.ad-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.antes-img img{
    display: flex;
    flex-direction: column;
    margin: 3vh;
    height: 50vh;
    width: 50vh;
}
.depois-img img{
    display: flex;
    flex-direction: column;
    margin: 3vh;
    height: 50vh;
    width: 50vh;
}

footer{
    background: #213A58;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #c7d0d9;
}