*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');
    font-family: 'Kanit', sans-serif;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0081FF ;
    font-family: 'Kanit', sans-serif;
    
}

#navbar img{
    margin: 1vh;
    height: 5vh;
}
.navbar-itens a{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 20px;
}

body{
    
    background: #c7d0d9;
    background-size: 100%;
} 
.azul{
    color: #0081FF;
}
#section1{
    background-image: url(../img/bg-setion1.png);
    padding-top: 5vh;
    border-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}
#tg-logo{
   height: 35vh;
}
#body-txt{
    margin: 4vh 0 0 7vh;
    font-size: 55px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
#body-txt h1{
    font-size: 43px;
    margin-bottom: 1vh;
}

#servicos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: url(../img/fundo-servicos.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vh;
    margin: 0 0 2vh 0;
}
.serv-container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* MEXER AQUI PRA FAZER RESPONSIVO */
#Servicos{
    width: 30%;
}
.serv-container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-servicos{
    margin-top: 2vh;
    height: 35vh;
    width: 100%;
    border-radius: 10px;
}


.container{
    background-color: aliceblue;
    padding: 2vh;
    border-radius: 5px;
    height: 25vh;
}


.box{
    height: 1vh;
    width: 20vh;
    background-color: #0081FF;
    margin: 1vh 0 1vh 0;
    border-radius: 2px;
}

#quemSomos{
    background: url(../img/quemsomos-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh;
    font-weight: bold;
}

.qs-container{
    width: 35%;
    height: 100%;
}

.valores-container{
    width: 35%;
    height: 100%;
}

.antes-depois{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
.ad-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.antes-img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.antes-img img{
    margin: 3vh;
    height: 40vh;
    width: 43vh;
}
/* BOTAO WPP */
#div-fixa{
    position: fixed;
    bottom: 20px;
    margin: 0 20px;
}

#div-fixa img{
    width: 10vh;
    height: 10vh;
}
/* FOOTER */
footer{
    background: #213A58;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #c7d0d9;
    height: 20vh;
}

.Sobre img{
    width: 20vh;
}
.Links{
    display: flex;
    flex-direction: column;
}
.social-media a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #c7d0d9;
}

/* MEDIA QUERIES */

@media (max-width:720px){
    #tg-logo{
        height: 23vh;
        margin: 0 0 0 -8vh;
    }
    #body-txt p{
        flex-wrap: wrap;
        display: none;
    }
    #section1{
        background-image: url(../img/bg-media.png);
        background-size: cover;
    }
    #Servicos{
        width: 100%;
        margin-bottom: 2vh;
    }
    .serv-container1{
        flex-wrap: wrap;
    }
    .serv-container2{
        flex-wrap: wrap;
    }

    #quemSomos{
        flex-wrap: wrap;
    }
    .qs-container{
        width: 100%;
    }
    .qs-container p{
        font-size: 20px;
        font-weight:bolder
    }
    .valores-container{
        width: 90%;
    }
    .valores-container p{
        font-size: 20px;
    }

    .antes-img{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    #projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    footer{
        flex-direction: column;
        height: auto;
    }

    .container{
        height: auto;
    }
}